Import necessary packages

In [50]:
import pandas as pd
import numpy as np

Scrape data from Wikipedia page

In [51]:
Data = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
Data1 = Data[0]
Data1

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

Rename Postal Code column

In [52]:
Data2 = Data1.rename(columns={'Postal Code':'PostalCode'},inplace = False) 
Data2

,PostalCode,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

Drop any rows with 'Not assigned' in the Borough column

In [54]:
indexNames = Data2[Data2['Borough'] == 'Not assigned'].index
Data2.drop(indexNames , inplace=True)
Data2.reset_index
Data2

,PostalCode,Borough,Neighbourhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

Combine neighbourhoods of the same postal code

In [55]:
Data3 = Data2.groupby(['PostalCode','Borough'], as_index=False).agg(lambda x: ','.join(x))
Data3

    PostalCode      Borough                                      Neighbourhood
0          M1B  Scarborough                                     Malvern, Rouge
1          M1C  Scarborough             Rouge Hill, Port Union, Highland Creek
2          M1E  Scarborough                  Guildwood, Morningside, West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
..         ...          ...                                                ...
98         M9N         York                                             Weston
99         M9P    Etobicoke                                          Westmount
100        M9R    Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
101        M9V    Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
102        M9W    Etobicoke                Northwest, West Humber - Clairville

[103 rows x 3 columns]

Replace all 'Not assigned' values in the Neighbourhood column with its corresponding Borough

In [57]:
N1 = Data3['Neighbourhood'] == 'Not assigned'
Data3.loc[N1, 'Neighbourhood'] = Data3.loc[N1, 'Borough']
Data3

    PostalCode      Borough                                      Neighbourhood
0          M1B  Scarborough                                     Malvern, Rouge
1          M1C  Scarborough             Rouge Hill, Port Union, Highland Creek
2          M1E  Scarborough                  Guildwood, Morningside, West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
..         ...          ...                                                ...
98         M9N         York                                             Weston
99         M9P    Etobicoke                                          Westmount
100        M9R    Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
101        M9V    Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
102        M9W    Etobicoke                Northwest, West Humber - Clairville

[103 rows x 3 columns]

Get shape of cleaned dataframe

In [58]:
Data3.shape

(103, 3)

Get Longitude and Latitude data from csv

In [71]:
LonLat = pd.read_csv('http://cocl.us/Geospatial_data') 
LonLat.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Combine Longitude and Latitude data with Neighbourhood data

In [78]:
Frames=[Data3,LonLat]
TorD=pd.concat(Frames, axis=1, sort=False)
TorD

,PostalCode,Borough,Neighbourhood,Postal Code,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",M1B,43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",M1C,43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",M1E,43.763573,-79.188711
3,M1G,Scarborough,Woburn,M1G,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,M1H,43.773136,-79.239476
...,...,...,...,...,...,...
98,M9N,York,Weston,M9N,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,M9P,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",M9R,43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",M9V,43.739416,-79.588437
102,M9W,Etobicoke,"Northwest, West Humber - Clairville",M9W,43.706748,-79.594054

Get rid of second Postal Code column by defining column values

In [81]:
TorD1 = TorD[['PostalCode','Borough', 'Neighbourhood','Latitude','Longitude']]
TorD1

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
102,M9W,Etobicoke,"Northwest, West Humber - Clairville",43.706748,-79.594054

Import necessary libraries

In [102]:
import matplotlib.cm as cm
import matplotlib.colors as colors
from sklearn.cluster import KMeans
! pip install folium==0.5.0
import folium
import requests
import json
from pandas.io.json import json_normalize

print('Libraries imported.')

Requirement already satisfied: folium==0.5.0 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (0.5.0)
Requirement already satisfied: six in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from folium==0.5.0) (1.15.0)
Requirement already satisfied: branca in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from folium==0.5.0) (0.4.1)
Requirement already satisfied: jinja2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from folium==0.5.0) (2.11.2)
Requirement already satisfied: requests in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from folium==0.5.0) (2.24.0)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from jinja2->folium==0.5.0) (1.1.1)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->folium==0.5.0) (2.9)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->folium==0.5.0) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->folium==0.5.0) (1.25.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->folium==0.5.0) (3.0.4)
Libraries imported.

Define Foursquare credentials

In [83]:
CLIENT_ID = 'V0ZH433JIMUGSE3S3WO2ZFDMQL5QODRHBMCVPVEZJYOKOCQB'
CLIENT_SECRET = 'CAKX35VZ5EQF5RDKA12FG0THBLNAIVL20EMX5M4U1HYRXFSG'
VERSION = '20180605'
LIMIT = 100

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: V0ZH433JIMUGSE3S3WO2ZFDMQL5QODRHBMCVPVEZJYOKOCQB
CLIENT_SECRET:CAKX35VZ5EQF5RDKA12FG0THBLNAIVL20EMX5M4U1HYRXFSG

Filter out all rows where the Borough is not Downtown Toronto

In [113]:
TorDD = merge_columns[merge_columns['Borough'] == 'Downtown Toronto'].reset_index(drop=True)
TorDD
TorDD.shape

(19, 6)

Generate a function which gets a list of all venues and their corresponding characteristics for each neighbourhood in Downtown Toronto

In [119]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighbourhood', 
                  'Neighbourhood Latitude', 
                  'Neighbourhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

Create a new dataframe called DT_venues

In [120]:
DT_venues = getNearbyVenues(names=TorDD['Neighbourhood'],
                                   latitudes=TorDD['Latitude'],
                                   longitudes=TorDD['Longitude']
                                  )

Rosedale
St. James Town, Cabbagetown
Church and Wellesley
Regent Park, Harbourfront
Garden District, Ryerson
St. James Town
Berczy Park
Central Bay Street
Richmond, Adelaide, King
Harbourfront East, Union Station, Toronto Islands
Toronto Dominion Centre, Design Exchange
Commerce Court, Victoria Hotel
University of Toronto, Harbord
Kensington Market, Chinatown, Grange Park
CN Tower, King and Spadina, Railway Lands, Harbourfront West, Bathurst Quay, South Niagara, Island airport
Stn A PO Boxes
First Canadian Place, Underground city
Christie
Queen's Park, Ontario Provincial Government

In [121]:
print(DT_venues.shape)
DT_venues.head()

(1248, 7)

,Neighbourhood,Neighbourhood Latitude,Neighbourhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Rosedale,43.679563,-79.377529,Rosedale Park,43.682328,-79.378934,Playground
1,Rosedale,43.679563,-79.377529,Whitney Park,43.682036,-79.373788,Park
2,Rosedale,43.679563,-79.377529,Alex Murray Parkette,43.678300,-79.382773,Park
3,Rosedale,43.679563,-79.377529,Milkman's Lane,43.676352,-79.373842,Trail
4,"St. James Town, Cabbagetown",43.667967,-79.367675,Cranberries,43.667843,-79.369407,Diner

Group the data by neighbourhood and count the number of venues returned for each neighbourhood

In [122]:
DT_venues.groupby('Neighbourhood').count()

,Neighbourhood Latitude,Neighbourhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Neighbourhood,,,,,,
Berczy Park,55,55,55,55,55,55
"CN Tower, King and Spadina, Railway Lands, Harbourfront West, Bathurst Quay, South Niagara, Island airport",16,16,16,16,16,16
Central Bay Street,68,68,68,68,68,68
Christie,16,16,16,16,16,16
Church and Wellesley,75,75,75,75,75,75
"Commerce Court, Victoria Hotel",100,100,100,100,100,100
"First Canadian Place, Underground city",100,100,100,100,100,100
"Garden District, Ryerson",100,100,100,100,100,100
"Harbourfront East, Union Station, Toronto Islands",100,100,100,100,100,100
"Kensington Market, Chinatown, Grange Park",74,74,74,74,74,74
"Queen's Park, Ontario Provincial Government",33,33,33,33,33,33
"Regent Park, Harbourfront",44,44,44,44,44,44
"Richmond, Adelaide, King",100,100,100,100,100,100
Rosedale,4,4,4,4,4,4
St. James Town,85,85,85,85,85,85
"St. James Town, Cabbagetown",48,48,48,48,48,48
Stn A PO Boxes,96,96,96,96,96,96
"Toronto Dominion Centre, Design Exchange",100,100,100,100,100,100
"University of Toronto, Harbord",34,34,34,34,34,34

In [123]:
print('There are {} uniques categories.'.format(len(DT_venues['Venue Category'].unique())))

There are 211 uniques categories.

Complete one hot encoding and add the Neighbourhood column back into the dataframe

In [124]:
DT_onehot = pd.get_dummies(DT_venues[['Venue Category']], prefix="", prefix_sep="")

DT_onehot['Neighbourhood'] = DT_venues['Neighbourhood'] 

fixed_columns = [DT_onehot.columns[-1]] + list(DT_onehot.columns[:-1])
DT_onehot = DT_onehot[fixed_columns]

DT_onehot.head()

,Neighbourhood,Afghan Restaurant,Airport,Airport Food Court,Airport Gate,Airport Lounge,Airport Service,Airport Terminal,American Restaurant,Antique Shop,...,Theme Restaurant,Toy / Game Store,Trail,Train Station,Vegetarian / Vegan Restaurant,Video Game Store,Vietnamese Restaurant,Wine Bar,Women's Store,Yoga Studio
0,Rosedale,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Rosedale,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Rosedale,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Rosedale,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,"St. James Town, Cabbagetown",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [125]:
DT_onehot.shape

(1248, 212)

Group by neighbourhood and assign the mean of each venue occurence to the rows

In [126]:
DT_grouped = DT_onehot.groupby('Neighbourhood').mean().reset_index()
DT_grouped

,Neighbourhood,Afghan Restaurant,Airport,Airport Food Court,Airport Gate,Airport Lounge,Airport Service,Airport Terminal,American Restaurant,Antique Shop,...,Theme Restaurant,Toy / Game Store,Trail,Train Station,Vegetarian / Vegan Restaurant,Video Game Store,Vietnamese Restaurant,Wine Bar,Women's Store,Yoga Studio
0,Berczy Park,0.000000,0.0000,0.0000,0.0000,0.000,0.000,0.0000,0.000000,0.000000,...,0.000000,0.00,0.00,0.00,0.018182,0.000000,0.000000,0.000000,0.00,0.000000
1,"CN Tower, King and Spadina, Railway Lands, Har...",0.000000,0.0625,0.0625,0.0625,0.125,0.125,0.0625,0.000000,0.000000,...,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.000000
2,Central Bay Street,0.000000,0.0000,0.0000,0.0000,0.000,0.000,0.0000,0.000000,0.000000,...,0.000000,0.00,0.00,0.00,0.014706,0.000000,0.000000,0.014706,0.00,0.014706
3,Christie,0.000000,0.0000,0.0000,0.0000,0.000,0.000,0.0000,0.000000,0.000000,...,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.000000
4,Church and Wellesley,0.013333,0.0000,0.0000,0.0000,0.000,0.000,0.0000,0.013333,0.000000,...,0.013333,0.00,0.00,0.00,0.000000,0.000000,0.013333,0.000000,0.00,0.026667
5,"Commerce Court, Victoria Hotel",0.000000,0.0000,0.0000,0.0000,0.000,0.000,0.0000,0.030000,0.000000,...,0.000000,0.00,0.00,0.00,0.020000,0.000000,0.000000,0.010000,0.01,0.000000
6,"First Canadian Place, Underground city",0.000000,0.0000,0.0000,0.0000,0.000,0.000,0.0000,0.030000,0.000000,...,0.000000,0.00,0.00,0.01,0.010000,0.000000,0.000000,0.010000,0.01,0.000000
7,"Garden District, Ryerson",0.000000,0.0000,0.0000,0.0000,0.000,0.000,0.0000,0.000000,0.000000,...,0.000000,0.01,0.00,0.00,0.000000,0.010000,0.010000,0.010000,0.00,0.000000
8,"Harbourfront East, Union Station, Toronto Islands",0.000000,0.0000,0.0000,0.0000,0.000,0.000,0.0000,0.000000,0.000000,...,0.000000,0.00,0.00,0.01,0.010000,0.000000,0.000000,0.010000,0.00,0.000000
9,"Kensington Market, Chinatown, Grange Park",0.000000,0.0000,0.0000,0.0000,0.000,0.000,0.0000,0.000000,0.000000,...,0.000000,0.00,0.00,0.00,0.054054,0.000000,0.040541,0.013514,0.00,0.000000
10,"Queen's Park, Ontario Provincial Government",0.000000,0.0000,0.0000,0.0000,0.000,0.000,0.0000,0.000000,0.000000,...,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.030303
11,"Regent Park, Harbourfront",0.000000,0.0000,0.0000,0.0000,0.000,0.000,0.0000,0.000000,0.022727,...,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.022727
12,"Richmond, Adelaide, King",0.000000,0.0000,0.0000,0.0000,0.000,0.000,0.0000,0.020000,0.000000,...,0.000000,0.00,0.00,0.00,0.010000,0.000000,0.000000,0.000000,0.01,0.000000
13,Rosedale,0.000000,0.0000,0.0000,0.0000,0.000,0.000,0.0000,0.000000,0.000000,...,0.000000,0.00,0.25,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.000000
14,St. James Town,0.000000,0.0000,0.0000,0.0000,0.000,0.000,0.0000,0.035294,0.000000,...,0.000000,0.00,0.00,0.00,0.011765,0.000000,0.000000,0.011765,0.00,0.000000
15,"St. James Town, Cabbagetown",0.000000,0.0000,0.0000,0.0000,0.000,0.000,0.0000,0.000000,0.000000,...,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.000000
16,Stn A PO Boxes,0.000000,0.0000,0.0000,0.0000,0.000,0.000,0.0000,0.010417,0.010417,...,0.000000,0.00,0.00,0.00,0.010417,0.000000,0.000000,0.000000,0.00,0.010417
17,"Toronto Dominion Centre, Design Exchange",0.000000,0.0000,0.0000,0.0000,0.000,0.000,0.0000,0.030000,0.000000,...,0.000000,0.00,0.00,0.01,0.010000,0.000000,0.000000,0.010000,0.00,0.000000
18,"University of Toronto, Harbord",0.000000,0.0000,0.0000,0.0000,0.000,0.000,0.0000,0.000000,0.000000,...,0.000000,0.00,0.00,0.00,0.000000,0.029412,0.000000,0.000000,0.00,0.029412

In [127]:
DT_grouped.shape

(19, 212)

Print the top 5 venues associated with each neighbourhood

In [128]:
num_top_venues = 5

for hood in DT_grouped['Neighbourhood']:
    print("----"+hood+"----")
    temp = DT_grouped[DT_grouped['Neighbourhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Berczy Park----
                venue  freq
0         Coffee Shop  0.09
1  Seafood Restaurant  0.04
2         Cheese Shop  0.04
3        Cocktail Bar  0.04
4            Beer Bar  0.04


----CN Tower, King and Spadina, Railway Lands, Harbourfront West, Bathurst Quay, South Niagara, Island airport----
             venue  freq
0   Airport Lounge  0.12
1  Airport Service  0.12
2  Harbor / Marina  0.06
3          Airport  0.06
4         Boutique  0.06


----Central Bay Street----
                venue  freq
0         Coffee Shop  0.18
1                Café  0.06
2      Sandwich Place  0.04
3  Italian Restaurant  0.04
4     Thai Restaurant  0.03


----Christie----
                venue  freq
0       Grocery Store  0.25
1                Café  0.19
2                Park  0.12
3  Italian Restaurant  0.06
4          Restaurant  0.06


----Church and Wellesley----
                 venue  freq
0          Coffee Shop  0.09
1  Japanese Restaurant  0.05
2     Sushi Restaurant  0.05
3              Gay Bar  0.05
4           Restaurant  0.04


----Commerce Court, Victoria Hotel----
         venue  freq
0  Coffee Shop  0.12
1   Restaurant  0.07
2         Café  0.06
3        Hotel  0.06
4          Gym  0.04


----First Canadian Place, Underground city----
                 venue  freq
0          Coffee Shop  0.10
1                 Café  0.07
2                Hotel  0.05
3                  Gym  0.04
4  Japanese Restaurant  0.04


----Garden District, Ryerson----
                 venue  freq
0       Clothing Store  0.10
1          Coffee Shop  0.09
2                 Café  0.04
3      Bubble Tea Shop  0.03
4  Japanese Restaurant  0.03


----Harbourfront East, Union Station, Toronto Islands----
         venue  freq
0  Coffee Shop  0.13
1     Aquarium  0.05
2         Café  0.04
3        Hotel  0.04
4      Brewery  0.03


----Kensington Market, Chinatown, Grange Park----
                           venue  freq
0                           Café  0.05
1                            Bar  0.05
2             Mexican Restaurant  0.05
3  Vegetarian / Vegan Restaurant  0.05
4                    Coffee Shop  0.05


----Queen's Park, Ontario Provincial Government----
                venue  freq
0         Coffee Shop  0.24
1         Yoga Studio  0.03
2   College Cafeteria  0.03
3  Mexican Restaurant  0.03
4                Park  0.03


----Regent Park, Harbourfront----
         venue  freq
0  Coffee Shop  0.18
1         Park  0.07
2          Pub  0.07
3       Bakery  0.07
4      Theater  0.05


----Richmond, Adelaide, King----
         venue  freq
0  Coffee Shop  0.09
1         Café  0.05
2          Gym  0.04
3   Restaurant  0.04
4        Hotel  0.04


----Rosedale----
            venue  freq
0            Park  0.50
1      Playground  0.25
2           Trail  0.25
3   Movie Theater  0.00
4  Massage Studio  0.00


----St. James Town----
          venue  freq
0   Coffee Shop  0.07
1          Café  0.06
2    Restaurant  0.05
3  Cocktail Bar  0.05
4     Gastropub  0.04


----St. James Town, Cabbagetown----
         venue  freq
0  Coffee Shop  0.08
1   Restaurant  0.06
2         Café  0.06
3  Pizza Place  0.06
4         Park  0.04


----Stn A PO Boxes----
                venue  freq
0         Coffee Shop  0.10
1  Italian Restaurant  0.04
2                Café  0.03
3               Hotel  0.03
4  Seafood Restaurant  0.03


----Toronto Dominion Centre, Design Exchange----
                 venue  freq
0          Coffee Shop  0.14
1                Hotel  0.08
2           Restaurant  0.05
3                 Café  0.05
4  Japanese Restaurant  0.03


----University of Toronto, Harbord----
            venue  freq
0            Café  0.15
1       Bookstore  0.09
2          Bakery  0.06
3             Bar  0.06
4  Sandwich Place  0.06

In [129]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

Create a new dataframe and diaplay the top 10 venues associated with each neighbourhood

In [169]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

columns = ['Neighbourhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

NVS = pd.DataFrame(columns=columns)
NVS['Neighbourhood'] = DT_grouped['Neighbourhood']

for ind in np.arange(DT_grouped.shape[0]):
    NVS.iloc[ind, 1:] = return_most_common_venues(DT_grouped.iloc[ind, :], num_top_venues)

NVS.head()

,Neighbourhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Berczy Park,Coffee Shop,Cheese Shop,Farmers Market,Cocktail Bar,Restaurant,Seafood Restaurant,Bakery,Beer Bar,Greek Restaurant,Basketball Stadium
1,"CN Tower, King and Spadina, Railway Lands, Har...",Airport Lounge,Airport Service,Harbor / Marina,Bar,Coffee Shop,Plane,Rental Car Location,Boutique,Sculpture Garden,Boat or Ferry
2,Central Bay Street,Coffee Shop,Café,Sandwich Place,Italian Restaurant,Salad Place,Department Store,Bubble Tea Shop,Burger Joint,Japanese Restaurant,Thai Restaurant
3,Christie,Grocery Store,Café,Park,Athletics & Sports,Italian Restaurant,Restaurant,Candy Store,Baby Store,Nightclub,Coffee Shop
4,Church and Wellesley,Coffee Shop,Japanese Restaurant,Gay Bar,Sushi Restaurant,Restaurant,Yoga Studio,Men's Store,Mediterranean Restaurant,Hotel,Pub

Perform K Means Clustering on the dataframe and assign each neighbourhood to a cluster

In [183]:
kclusters = 5

DT_grouped_clustering = DT_grouped.drop('Neighbourhood', 1)

kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(DT_grouped_clustering)

kmeans.labels_[0:10]

array([2, 3, 2, 4, 2, 2, 2, 2, 2, 2], dtype=int32)

Merge the TorDD dataframe with the clustered dataframe

In [171]:
NVS.insert(0, 'Cluster Labels', kmeans.labels_)

DT_merged = TorDD

DT_merged = DT_merged.join(NVS.set_index('Neighbourhood'), on='Neighbourhood')

DT_merged.head()

,PostalCode,Borough,Neighbourhood,Postal Code,Latitude,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,M4W,Downtown Toronto,Rosedale,M4W,43.679563,-79.377529,1,Park,Trail,Playground,Dance Studio,Dumpling Restaurant,Donut Shop,Doner Restaurant,Dog Run,Distribution Center,Discount Store
1,M4X,Downtown Toronto,"St. James Town, Cabbagetown",M4X,43.667967,-79.367675,2,Coffee Shop,Restaurant,Café,Pizza Place,Market,Pub,Bakery,Park,Chinese Restaurant,Italian Restaurant
2,M4Y,Downtown Toronto,Church and Wellesley,M4Y,43.665860,-79.383160,2,Coffee Shop,Japanese Restaurant,Gay Bar,Sushi Restaurant,Restaurant,Yoga Studio,Men's Store,Mediterranean Restaurant,Hotel,Pub
3,M5A,Downtown Toronto,"Regent Park, Harbourfront",M5A,43.654260,-79.360636,0,Coffee Shop,Bakery,Pub,Park,Theater,Café,Breakfast Spot,Distribution Center,Electronics Store,Bank
4,M5B,Downtown Toronto,"Garden District, Ryerson",M5B,43.657162,-79.378937,2,Clothing Store,Coffee Shop,Café,Bubble Tea Shop,Cosmetics Shop,Japanese Restaurant,Fast Food Restaurant,Pizza Place,Bookstore,Furniture / Home Store

Create a folium map and add each neighbourhood to it. Color code the clusters.

In [173]:
DT_merged['Cluster Labels']=DT_merged['Cluster Labels'].fillna(0).astype('int')

map_clusters = folium.Map(location=[43.6532, -79.3832], zoom_start=13)

x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

markers_colors = []
for lat, lon, poi, cluster in zip(DT_merged['Latitude'], DT_merged['Longitude'], DT_merged['Neighbourhood'], DT_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)

map_clusters

Analyze Cluster 0

In [174]:
DT_merged.loc[DT_merged['Cluster Labels'] == 0, DT_merged.columns[[1] + list(range(5, DT_merged.shape[1]))]]

,Borough,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
3,Downtown Toronto,-79.360636,0,Coffee Shop,Bakery,Pub,Park,Theater,Café,Breakfast Spot,Distribution Center,Electronics Store,Bank
18,Downtown Toronto,-79.389494,0,Coffee Shop,Yoga Studio,Sushi Restaurant,Distribution Center,Sandwich Place,Diner,Music Venue,Beer Bar,Portuguese Restaurant,Italian Restaurant

We can see that the most common venue type for Cluster 0 is coffee shop. This cluster appears to be more 'suburban' with parks and restaurants being amongst the most common venues. We can name this cluster Suburbia.

Analyze Cluster 2

In [177]:
DT_merged.loc[DT_merged['Cluster Labels'] == 1, DT_merged.columns[[1] + list(range(5, DT_merged.shape[1]))]]

,Borough,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Downtown Toronto,-79.377529,1,Park,Trail,Playground,Dance Studio,Dumpling Restaurant,Donut Shop,Doner Restaurant,Dog Run,Distribution Center,Discount Store

There is only a single neighbourhood in this cluster, an outlier. It appears to be mostly comprised of green areas such as parks and playgrounds. Based off of the Folium map, we can see that it is located quite a distance from the CBD. We can name this cluster Green.

Analyze Cluster 2

In [178]:
DT_merged.loc[DT_merged['Cluster Labels'] == 2, DT_merged.columns[[1] + list(range(5, DT_merged.shape[1]))]]

,Borough,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
1,Downtown Toronto,-79.367675,2,Coffee Shop,Restaurant,Café,Pizza Place,Market,Pub,Bakery,Park,Chinese Restaurant,Italian Restaurant
2,Downtown Toronto,-79.383160,2,Coffee Shop,Japanese Restaurant,Gay Bar,Sushi Restaurant,Restaurant,Yoga Studio,Men's Store,Mediterranean Restaurant,Hotel,Pub
4,Downtown Toronto,-79.378937,2,Clothing Store,Coffee Shop,Café,Bubble Tea Shop,Cosmetics Shop,Japanese Restaurant,Fast Food Restaurant,Pizza Place,Bookstore,Furniture / Home Store
5,Downtown Toronto,-79.375418,2,Coffee Shop,Café,Cocktail Bar,Restaurant,Gastropub,American Restaurant,Beer Bar,Seafood Restaurant,Gym,Farmers Market
6,Downtown Toronto,-79.373306,2,Coffee Shop,Cheese Shop,Farmers Market,Cocktail Bar,Restaurant,Seafood Restaurant,Bakery,Beer Bar,Greek Restaurant,Basketball Stadium
7,Downtown Toronto,-79.387383,2,Coffee Shop,Café,Sandwich Place,Italian Restaurant,Salad Place,Department Store,Bubble Tea Shop,Burger Joint,Japanese Restaurant,Thai Restaurant
8,Downtown Toronto,-79.384568,2,Coffee Shop,Café,Restaurant,Gym,Hotel,Bar,Thai Restaurant,Clothing Store,Juice Bar,Pizza Place
9,Downtown Toronto,-79.381752,2,Coffee Shop,Aquarium,Hotel,Café,Scenic Lookout,Pizza Place,Brewery,Fried Chicken Joint,Restaurant,Sporting Goods Shop
10,Downtown Toronto,-79.381576,2,Coffee Shop,Hotel,Café,Restaurant,Salad Place,Japanese Restaurant,Seafood Restaurant,American Restaurant,Sporting Goods Shop,Beer Bar
11,Downtown Toronto,-79.379817,2,Coffee Shop,Restaurant,Hotel,Café,Gym,Deli / Bodega,Italian Restaurant,Seafood Restaurant,Japanese Restaurant,American Restaurant
12,Downtown Toronto,-79.400049,2,Café,Bookstore,Bar,Japanese Restaurant,Sandwich Place,Bakery,Yoga Studio,Italian Restaurant,Beer Bar,Beer Store
13,Downtown Toronto,-79.400049,2,Vegetarian / Vegan Restaurant,Café,Bar,Coffee Shop,Mexican Restaurant,Vietnamese Restaurant,Gaming Cafe,Dumpling Restaurant,Burger Joint,Pizza Place
15,Downtown Toronto,-79.374846,2,Coffee Shop,Italian Restaurant,Pub,Restaurant,Café,Beer Bar,Seafood Restaurant,Hotel,Japanese Restaurant,Park
16,Downtown Toronto,-79.382280,2,Coffee Shop,Café,Hotel,Gym,Restaurant,Japanese Restaurant,Salad Place,Seafood Restaurant,Asian Restaurant,Steakhouse

The most common venue in this cluster is a coffee shop. This cluster appears to be comprised of neighbourhoods within the CBD where there are lots of businesses and subsequently, restaurants and cafes. We can name this cluster CBD.

Analyze Cluster 3

In [179]:
DT_merged.loc[DT_merged['Cluster Labels'] == 3, DT_merged.columns[[1] + list(range(5, DT_merged.shape[1]))]]

,Borough,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
14,Downtown Toronto,-79.39442,3,Airport Lounge,Airport Service,Harbor / Marina,Bar,Coffee Shop,Plane,Rental Car Location,Boutique,Sculpture Garden,Boat or Ferry

This cluster consists primarily of the airport and it's associated venues. We can name this cluster Airport.

Analyze Cluster 4

In [180]:
DT_merged.loc[DT_merged['Cluster Labels'] == 4, DT_merged.columns[[1] + list(range(5, DT_merged.shape[1]))]]

,Borough,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
17,Downtown Toronto,-79.422564,4,Grocery Store,Café,Park,Athletics & Sports,Italian Restaurant,Restaurant,Candy Store,Baby Store,Nightclub,Coffee Shop

The most popular venue in this neighbourhood is a grocery store. It is located further out of the CBD so is assumed to be quite suburban. We can name this cluster Suburbia1.